.ABexpensescontent {
  max-width: 800px;
  margin: auto;
  padding: 16px 32px;
  position:absolute;
}

.ABexpensescontainer{
    position: relative;
    width: 50%;
    height: 50%;
    margin-left: 30em;
    margin-top: 60em;
}