.ABincomecontent {
  max-width: 800px;
  margin: auto;
  padding: 16px 32px;
  position:absolute;
}

.ABincomecontainer{
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 10em;
    margin-top: 20em;
}